* {
    margin: 0px;
    padding: 0px;
    outline: none;
    border: 0px;
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #1F2937;
}

.header{
    background-color: #1F2937;
    display: flex;
    border-color: #1F2937;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    height: 75px;
    justify-content: space-evenly;
}

.links{
    display:flex;
    align-content: space-between;
    align-self: center;
    gap: 24px;
    list-style-type: none;
    padding: 12px;
    margin-right: 60px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    color: #E5E7EB;
    font-weight: bolder;
    font-size: 18px;
}

.a:visited{
    text-decoration: none;
    color: #E5E7EB;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
    display: flex;
    align-self: center;
    padding: 12px;
    font-weight: bolder;
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
}

.hero-left{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    flex-wrap: wrap;
    gap: 20px;
}

.hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: bolder;
}

.hero-secondary-text{
    font-size: 18px;
    color: #E5E7EB;

}

.hero-button{
    width: 100px;
    max-width: 100px;
    height: 30px;
    background-color: #3882f6;
    border-color: #3882f6;
    color: #F9FAF8;
    border-radius: 8px;
    font-weight: bold;
}

.hero-right{
    display: flex;
    align-self: center;
}

.image1{
    width: 500px;
    height: 300px;
    padding: 25px;
}

.information{
    width: 140px;
    height: 140px;
    border: 5px solid #3882f6;
    border-radius: 8px;
}

.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 350px;
    flex-wrap: wrap;
}

.header2{
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-bottom: 25px;
}

.items{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: center;
}

.item{
    width: 145px;
    text-align: center;
}

.section3{
    background-color: #e5e7eb;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.author{
    background-color: #e5e7eb;
    font-size: 26px;
    font-weight: bold;
}